* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header style */
#header-background {
    width: 100%px;
    height: 800px;
    background-image: url('./images/banner/banner1.png');

}

#background-content {
    text-align: right;
    padding: 150px 100px 0 100px;
}

.header-title {
    font-size: 65px;
    padding-left: 400px;
    margin-bottom: 20px;
}

.header-description {
    color: #414040;
    font-size: 20px;
    font-weight: 500px;
    padding-left: 600px;
    margin-bottom: 10px;
}

.btn-primary {
    padding: 20px 25px;
    background-color: orangered;
    border-radius: 5px;
    color: aliceblue;
    font-size: 20px;
    font-weight: 500px;
    border: none;
    margin-top: 10px;
}

/* main section */
main {
    padding: 50px 100px;
}

.section-content {
    display: flex;
    gap: 40px;
    margin: 50px 60px;
}

.content {
    padding: 150px 30px 150px;
}

.cnt-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 15px;
}

.cnt-para {
    font-size: 20px;
    font-weight: 500px;
    margin-bottom: 15px;
}

.fa-check {
    color: green;
}

/* plans style */
.pln-hd {
    text-align: center;
    font-size: 50px;
    font-weight: 400px;
    margin-bottom: 60px;
}

.plans-blg {
    display: flex;
    gap: 80px;
    margin: 0 100px;
}

.content-blg {
    align-items: center;
}

.icon-name {
    font-size: 25px;
    margin-top: 40px 0px;
}
/* developer catagiry */
.dev{
    display: flex;
    justify-content: space-between;
     /* margin: 30px 100px 100px 0; */
     margin-top: 100px;
    /* margin-left: 100px; */
    
} 
 ul{
    list-style-type:square;   
}
ol{
    list-style-type:lower-alpha;
}
.dev-container{
    background-color: rgba(235, 223, 223, 0.473);
    box-shadow: 0px 6px 10px #080707;
    border-radius: 8px;
    padding: 20px;
}
.dev-heading{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    color: orangered;
}
.dev-title{
    font-size: 60px;
    margin-top: 70px;
    /* box-shadow: 0 2px 2px lightgreen; */
}
span{
    color: red;
    font-size: larger;
}


/* gradient style */
.grad {
    background-image: url('./images/gradient2.png'), url('./images/watch.png');
    background-repeat: no-repeat;
    background-position: center;
    /* height: 300px; */
    padding: 50px 70px;
    border-radius: 10px;
    margin: 100px 150px;
}
.grad-description{
    font-size:30px;
    font-weight: 800px;
    color: white;
}
.grad-btn{
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600px;
   color: red;
   margin-top: 20px;
}

/* footer section */
.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px;
    background-color: black;
}

.footer-title {
    font-size: 60px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.footer-description {
    font-size: 16px;
    color: #FFFFFF;
    margin: 30px 0;
}

.contact-v {
    color: #FFFFFF;
    margin: 30px 0;
}

.footer-img {
    margin-right: 10px;
}

.email-box {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: black;
    color: #ffffff;
    font-size: 20px;
    border-color: #FFFFFF;
    margin-bottom: 20px;
}

.btn {
    padding: 20px;
    border-radius: 10px;
    width: 170px;
    font-size: 20px;
    font-weight: 600px;
    color: orangered;
}