* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header style */
#header-background {
    width: 100%px;
    height: 800px;
  background-image: url('./images/banner/banner1.png');

}

#background-content {
    text-align: right;
    padding: 150px 200px 0 100px;
}

.header-title {
    font-size: 65px;
    padding-left: 400px;
    margin-bottom: 20px;
}

.header-para {
    color: #414040;
    font-size: 20px;
    font-weight: 500px;
    padding-left: 300px;
    margin-bottom: 10px;
}

.btn-primary {
    padding: 20px 25px;
    background-color: orangered;
    border-radius: 5px;
    color: aliceblue;
    font-size: 20px;
    font-weight: 500px;
    border: none;
    margin-top: 10px;
}

/* main section */
main{
    padding: 50px 100px;
}
.section-content {
    display: flex;
    gap: 60px;
    margin: 50px 60px;
}

.content {
    padding: 200px 60px 200px;
}

.cnt-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 15px;
}
.cnt-para{
    font-size: 20px;
    font-weight: 500px;
    margin-bottom: 15px;
}
.fa-check{
    color: green;
}
/* plans style */
.pln-hd{
    text-align: center;
    font-size: 50px;
    font-weight: 400px;
    margin-bottom: 60px;
}
.plans-blg{
    display: flex;
    gap: 80px;
    margin: 0 300px;
}
.content-blg{
    align-items: center;
}
.icon-name{
    font-size: 25px;
    margin-top: 40px 0px;
}